.projects,
.projects-elements {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
}

.project-informations {
  height: fit-content;
  display: flex;
  align-items: center;
}

.projects {
  gap: var(--gap-mid);
}

.projects-elements {
  gap: var(--gap-mid);
}

.project-informations,
.project {
  gap: var(--gap-low);
}

.full-page > .projects {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .project {
    flex-direction: column;
    gap: var(--project-gap-break-800);
  }

  .projects-elements {
    gap: calc(var(--project-gap-break-800) + 1rem);
  }

  .project-informations hr:last-child {
    display: none;
  }

  .projects-elements span.text {
    display: none;
  }

  .project-informations::before {
    font-size: var(--text-size-break-800);
    content: '┌';
  }

  .project .text::before {
    font-size: var(--text-size-break-800);
    content: '└ ';
  }
}
