.contact {
  display: flex;
  flex-direction: column;
  gap: var(--gap-title-content);
}

.title-section {
  display: flex;
  align-items: center;
  gap: var(--gap-elements);
}

.available-logo {
  border-radius: 50%;
  background-color: var(--color-green);
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0.2rem;
}

.title {
  font-size: var(--font-size-0);
  font-weight: 550;
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--gap-elements);
  font-size: var(--font-size-1);
  width: fit-content;
}

.links-light {
  color: var(--color-grey-light-mode);
}

.links-dark {
  color: var(--color-grey-dark-mode);
}

.links > a {
  transition: var(--transition);
}
