:root {
  --color-green: #9fef00;
  --color-black: #1d1d1d;
  --color-white: #ffffff;
  --color-grey-light-mode: #c1c1c1;
  --color-grey-dark-mode: #9a9a9a;

  --font-size-0: calc(var(--font-size-1) / 1.33);
  --font-size-1: 1.7rem;
  --font-size-2: calc(var(--font-size-1) * 1.33);
  --font-size-3: calc(var(--font-size-2) * 1.33);
  --font-size-4: calc(var(--font-size-3) * 1.33);
  --font-size-5: calc(var(--font-size-4) * 1.33);

  --transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
  --transition: color 0.15s var(--transition-timing-function),
    background-color 0.15s var(--transition-timing-function),
    opacity 0.15s var(--transition-timing-function);

  --gap-title-content: 1.5rem;
  --gap-elements: 0.75rem;
  --gap-sections: 5rem;
}
