:root {
  --separator-light-mode: #737373;
  --separator-dark-mode: #969696;

  --white-light-mode: #f3f3f3;
  --white-dark-mode: #cdcdcd;

  --black-light-mode: #191919;
  --black-dark-mode: #111111;

  --selection-background-color: ;
  --selection-color: ;

  --before-color: ;

  --grey-light-mode: #939393;
  --grey-light-mode-hover: #b8b8b8;
  --grey-light-mode-active: #dbdbdb;

  --grey-dark-mode: #787878;
  --grey-dark-mode-hover: #525252;
  --grey-dark-mode-active: #393939;

  --paragraph-line-height: 3.5rem;
  --paragraph-line-height-break-800: 2.85rem;

  --full-page-padding: 1rem;

  --gap-low: 1rem;
  --gap-mid: 1.5rem;
  --gap-high: 2rem;

  --gap-break-800: 3rem;
  --project-gap-break-800: 2rem;

  --title-size: 2rem;
  --title-size-break-800: 1.8rem;
  --title-weight: 700;

  --text-size: 1.6rem;
  --text-size-break-800: 1.4rem;
  --text-weight: 400;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-wrap: break-word;
}

button,
a,
hr {
  all: unset;
  font: inherit;
}
