.portfolio-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sections);
  padding: var(--gap-sections);
  transition: var(--transition);
}

.portfolio-container-light {
  background-color: var(--color-white);
  color: var(--color-black);
}

.portfolio-container-dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.section-stack-about {
  display: flex;
  gap: var(--gap-sections);
}

* {
  letter-spacing: 0.1rem;
}

a:hover {
  color: var(--color-green);
  cursor: pointer;
  opacity: 0.8;
}

a:active {
  cursor: pointer;
  opacity: 0.5;
}

::selection {
  background-color: var(--color-green);
  color: var(--color-black);
}

@media (max-width: 600px) {
  .portfolio-container {
    gap: calc(var(--gap-sections) / 2.5);
    padding: calc(var(--gap-sections) / 2.5);
    padding-top: 6.5rem;
  }

  .section-stack-about {
    display: flex;
    gap: calc(var(--gap-sections) / 2.5);
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
